.Chat-main
  .group-info
    .group-info__left-box
      .group-info__left-box__current-group
        = @group.name
      .group-info__left-box__member-list
        = "Member：" + @group.users.pluck(:name).join(" , ")
    = link_to edit_group_path(@group.id) do
      .group-info__edit-btn Edit
  .message-list
    = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          <i class="far fa-image"></i>
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'