.Side-bar
  .Side-bar__user-name
    .top-items
      %p.top-items__user-name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons-new
          = link_to new_group_path do
            <i class="far fa-edit"></i>
        %li.top-items__icons-edit
          = link_to edit_user_path(current_user) do
            <i class="fas fa-cog"></i>
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message